*{
    margin: 0px;
    padding: 0px;
}
body {
    background-color: rgb(58, 57, 52);}

    .home a, .about a, .location a, .current a{
        float: left;
        width :25%;
        height: 40px;
        background-color: slateblue;
        padding-top: 20px;
        text-align: center;
        text-decoration: none;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        font-weight: bold;
        color: white;
        
        
    }
    .home a:hover, .about a:hover , .location a:hover , .current a:hover {
        background-color: red;
    
    }
  .game1{
      float: left;
      
  }  
.game1 a{
    text-decoration: none;
}
.game1 a img{
    width: 200px;
    border-radius: 15px;
    margin-left: 100px;
    margin-top: 20px;
    height: 300px;
    
}

.game1 a p{
    text-align: center;
    margin-top: 5px;
    color: whitesmoke;
}
.game1 a img:hover{
    transform: scale(1.1);
}

marquee h1:hover{
    transform: scale(1.5);
}
   

@media screen and (max-width:510px){
    .home a, .about a, .location a, .current a{
        float: left;
        width :100%;
        height: 30px;
        background-color: slateblue ;
        padding-top: 15px;
        text-align: center;
        text-decoration: none;
        margin: 1px;
        
        
    }

    iframe{
        width:300px;
        height: 300px;
    }

    

}

@media screen and (max-width:320px){
    .game1 a img{
        margin-left: 15px;
    }
}

@media screen and (max-width:360px){
    .game1 a img{
        margin-left: 25px;
    }
}
@media screen and (max-width:404px){
    .game1 a img{
        margin-left: 25px;
    }
}


@media screen and (max-width:620px){
    iframe{
        width:500px;
    }
}

@media screen and (max-width:502px){
    iframe{
        width: fit-content;
    }
}

@media screen and (max-width:298px){
    iframe{
        width: fit-content;
    }
}

.currentImage img{
    width: 100%;
    height: 100%;
}
@media screen and (max-width:510px){
    .currentImage img{
        width: 100%;
        height: 25%;
    }
}

@media screen and (max-width:768px){
    .currentImage img{
        width: 100%;
        height: 50%;
    }
}

@media screen and (max-width:1024px){
    .currentImage img{
        width: 100%;
        height: 50%;
    }
}

